{% load mathfilters %}
{% if project_documents %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th width="3%">S.No</th>
                <th width="15%">Project</th>
                <th width="15%">Name</th>
                <th width="15%">Uploaded By</th>
                <th width="15%">Document</th>
                <th width="10%">Uploaded On</th>
                <th width="15%">Keywords</th>
                <th width='10%'>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for project_document in project_documents %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{project_document.project}}</td>
                    <td><a href="{% url 'Projects:project-documents-upload-details' project_document.project.id project_document.id%}" style='color:black;'>
                        <strong>{{project_document.name}}</strong></a>
                    </td>
                    <td>{{project_document.user}}</td>
                    <td>
                        <i class="fas fa-file"></i> {{project_document.file_name}}<br>
                        <a href='{{project_document.file_url}}' target="_blank">
                            <i class="fa fa-download"></i>&nbsp;Download
                            {% if project_document.file_size <= 1000000 %}
                                ({{project_document.file_size|div:"1024"|floatformat:"2" }} KB )
                            {% else %}
                                ({{project_document.file_size|div:"1048576"|floatformat:"2" }} MB )
                            {% endif %}
                        </a><br>
                        <a href='http://docs.google.com/gview?url={{project_document.file_url}}&embedded=true' target="_blank">
                            <i class="fas fa-eye"></i>&nbsp;View
                        </a>
                    </td>
                    <td>{{project_document.created_at|date:'d-m-Y'|default:'-'}}</td>
                    <td>{{project_document.keywords}}</td>
                    <td>
                        {% if request.user.id == project_document.user.id %}
                            <button class="btn btn-danger btn-sm delete-document" title="Delete Document" type="button"
                                delete-url="{% url 'Projects:project-documents-upload-delete' project_document.project.id project_document.id%}">
                                <i class="fa fa-trash"></i>
                            </button>
                            <a class="btn btn-primary btn-sm" href="{% url 'Projects:project-documents-upload-update' project_document.project.id project_document.id%}" title="Edit Document">
                                <i class="fa fa-pencil-alt"></i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <h3 class="text-center m-5">Opps, No Documents found.</h3>
{% endif %}