{% extends 'index.html' %}
{% load static %}
{% block title %}
    <title>Yash Team Works | Register</title>
{% endblock %}
{% block homecontent %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <img class="p-3"  style="margin-top:20%" src="{% static 'images/yash-logo.svg' %}" width="500" />
            </div>
            <div class="col-6 p-3">
                <div class="card">
                    <div class="card-body">
                        <div class="p-1 text-center" >
                            <img src="{% static 'images/yash-logo.svg' %}" width="100" />
                        </div>
                        <form class="login-form" method="post" action="." enctype="multipart/form-data">
                            {% if failure %}
                                <p class="text-center login_error" style="color:red;">Please check the errors.</p>
                            {% endif %}
                            {% csrf_token %}
                            {{ register_form.as_p }}
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-primary btn-block">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card mt-2">
                    <div class="card-body">
                        <div class="text-center">
                            Already have an account? <a href="{% url 'UserManager:login' %}">Login here</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).on('change', '#id_resume', function(){
            if(this.files[0].size > 3000000) {
                alert("Please upload file less than 3MB. Thanks!!");
                $(this).val('');
                return false
              }
             let ftype = this.files[0].type
             let fname = this.files[0].name
             let fextension = fname.substring(fname.lastIndexOf('.')+1)
             let file_type = $(this).attr('file-type')
             let validExtensions = ["pdf", "doc", "docx"];
             if ($.inArray(fextension, validExtensions) == -1){
                 alert("This type of files are not allowed!");
                 $(this).val('');
                 return false;
             }
        })
    </script>
{% endblock %}